# Created by .ignore support plugin (hsz.mobi)
### SBT template
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
### Scala template
*.class
*.log
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/
cmake-build-release/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests
### Node template
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# next.js build output
.next

.gradle/
.idea/sonarlint/
logs/application.log
project/project/target/config-classes/$27ff23df6c5f2a7e8144$.class
project/project/target/config-classes/$27ff23df6c5f2a7e8144.cache
project/project/target/config-classes/$27ff23df6c5f2a7e8144.class
project/project/target/config-classes/$6b6f24b3a15db41d3b45$.class
project/project/target/config-classes/$6b6f24b3a15db41d3b45.cache
project/project/target/config-classes/$6b6f24b3a15db41d3b45.class
project/project/target/config-classes/$ea819e2ad8844bf3eb79$.class
project/project/target/config-classes/$ea819e2ad8844bf3eb79.cache
project/project/target/config-classes/$ea819e2ad8844bf3eb79.class
project/project/target/scala-2.12/
project/project/target/streams/
project/target/config-classes/
project/target/scala-2.12/
project/target/streams/
target/scala-2.12/
target/streams/
target/web/
web/node_modules/.cache/
web/node_modules/@babel/
web/node_modules/accepts/
web/node_modules/address/
web/node_modules/amdefine/
web/node_modules/anymatch/
web/node_modules/argparse/
web/node_modules/arr-diff/
web/node_modules/arrify/
web/node_modules/asn1.js/
web/node_modules/assert/
web/node_modules/asynckit/
web/node_modules/babylon/CHANGELOG.md
web/node_modules/babylon/LICENSE
web/node_modules/babylon/README.md
web/node_modules/babylon/bin/generate-identifier-regex.js
web/node_modules/babylon/lib/
web/node_modules/babylon/package.json
web/node_modules/big.js/
web/node_modules/bluebird/
web/node_modules/bonjour/
web/node_modules/boolbase/
web/node_modules/bowser/.editorconfig
web/node_modules/bowser/.travis.yml
web/node_modules/bowser/CHANGELOG.md
web/node_modules/bowser/ISSUE_TEMPLATE.md
web/node_modules/bowser/LICENSE
web/node_modules/bowser/README.md
web/node_modules/bowser/bower.json
web/node_modules/bowser/bowser.js
web/node_modules/bowser/bowser.min.js
web/node_modules/bowser/package.json
web/node_modules/bowser/src/
web/node_modules/bowser/test/
web/node_modules/bowser/typings.d.ts
web/node_modules/braces/
web/node_modules/brorand/
web/node_modules/buffer/
web/node_modules/caseless/
web/node_modules/chardet/
web/node_modules/chokidar/
web/node_modules/ci-info/
web/node_modules/colormin/
web/node_modules/colors/
web/node_modules/cookie/
web/node_modules/core-js/
web/node_modules/css-what/
web/node_modules/cssesc/LICENSE-MIT.txt
web/node_modules/cssesc/README.md
web/node_modules/cssesc/cssesc.js
web/node_modules/cssesc/man/
web/node_modules/cssesc/package.json
web/node_modules/cssnano/
web/node_modules/cssstyle/
web/node_modules/dashdash/
web/node_modules/date-now/
web/node_modules/deep-is/
web/node_modules/defined/
web/node_modules/des.js/
web/node_modules/destroy/
web/node_modules/dns-txt/
web/node_modules/doctrine/
web/node_modules/dom-urls/
web/node_modules/domutils/
web/node_modules/dot-prop/
web/node_modules/dotenv/
web/node_modules/duplexer/
web/node_modules/ecc-jsbn/
web/node_modules/ee-first/
web/node_modules/elliptic/
w
eb/node_modules/encoding/
web/node_modules/entities/
web/node_modules/error-ex/
web/node_modules/es5-ext/
web/node_modules/es6-map/
web/node_modules/es6-set/
web/node_modules/escope/
web/node_modules/eslint/CHANGELOG.md
web/node_modules/eslint/LICENSE
web/node_modules/eslint/README.md
web/node_modules/eslint/conf/
web/node_modules/eslint/lib/
web/node_modules/eslint/messages/
web/node_modules/eslint/node_modules/
web/node_modules/eslint/package.json
web/node_modules/espree/
web/node_modules/esprima/ChangeLog
web/node_modules/esprima/LICENSE.BSD
web/node_modules/esprima/README.md
web/node_modules/esprima/esprima.js
web/node_modules/esprima/package.json
web/node_modules/esquery/
web/node_modules/esutils/
web/node_modules/events/
web/node_modules/exec-sh/
web/node_modules/express/
web/node_modules/extend/
web/node_modules/extglob/
web/node_modules/figures/
web/node_modules/fileset/
web/node_modules/filesize/
web/node_modules/find-up/
web/node_modules/flatten/
web/node_modules/for-in/
web/node_modules/for-own/
web/node_modules/foreach/
web/node_modules/fs-extra/.npmignore
web/node_modules/fs-extra/CHANGELOG.md
web/node_modules/fs-extra/LICENSE
web/node_modules/fs-extra/README.md
web/node_modules/fs-extra/lib/copy/index.js
web/node_modules/fs-extra/lib/fs/
web/node_modules/fs-extra/lib/index.js
web/node_modules/fs-extra/package.json
web/node_modules/getpass/
web/node_modules/glamor/
web/node_modules/globals/
web/node_modules/globby/
web/node_modules/growly/
web/node_modules/hash.js/
web/node_modules/history/
web/node_modules/ieee754/
web/node_modules/ignore/
web/node_modules/indexof/
web/node_modules/is-glob/
web/node_modules/is-npm/
web/node_modules/is-obj/
web/node_modules/is-odd/
web/node_modules/is-root/
web/node_modules/is-svg/
web/node_modules/is-utf8/
web/node_modules/is-wsl/
web/node_modules/isarray/
web/node_modules/js-yaml/CHANGELOG.md
web/node_modules/js-yaml/LICENSE
web/node_modules/js-yaml/README.md
web/node_modules/js-yaml/dist/
web/node_modules/js-yaml/index.js
web/node_modules/js-yaml/lib/
web/node_modules/js-yaml/package.json
web/node_modules/jsdom/lib/jsdom/browser/
web/node_modules/jsdom/lib/jsdom/living/attributes/
web/node_modules/jsdom/lib/jsdom/living/domparsing/
web/node_modules/jsdom/lib/jsdom/living/generated/Blob.js
web/node_modules/jsdom/lib/jsdom/living/generated/BlobPropertyBag.js
web/node_modules/jsdom/lib/jsdom/living/generated/CharacterData.js
web/node_modules/jsdom/lib/jsdom/living/generated/ElementCSSInlineStyle.js
web/node_modules/jsdom/lib/jsdom/living/generated/ErrorEventInit.js
web/node_modules/jsdom/lib/jsdom/living/generated/EventModifierInit.js
web/node_modules/jsdom/lib/jsdom/living/generated/FocusEvent.js
web/node_modules/jsdom/lib/jsdom/living/generated/GlobalEventHandlers.js
web/node_modules/jsdom/lib/jsdom/living/generated/HTMLButtonElement.js
web/node_modules/jsdom/lib/jsdom/living/generated/HTMLDataElement.js
web/node_modules/jsdom/lib/jsdom/living/generated/HTMLFontElement.js
web/node_modules/jsdom/lib/jsd
om/living/generated/HTMLInputElement.js
web/node_modules/jsdom/lib/jsdom/living/generated/HTMLMenuElement.js
web/node_modules/jsdom/lib/jsdom/living/generated/HTMLOptionElement.js
web/node_modules/jsdom/lib/jsdom/living/generated/HTMLOutputElement.js
web/node_modules/jsdom/lib/jsdom/living/generated/HTMLStyleElement.js
web/node_modules/jsdom/lib/jsdom/living/generated/HTMLTableColElement.js
web/node_modules/jsdom/lib/jsdom/living/generated/HTMLTableHeaderCellElement.js
web/node_modules/jsdom/lib/jsdom/living/generated/HTMLTimeElement.js
web/node_modules/jsdom/lib/jsdom/living/generated/HTMLTrackElement.js
web/node_modules/jsdom/lib/jsdom/living/generated/MessageEvent.js
web/node_modules/jsdom/lib/jsdom/living/navigator/
web/node_modules/jsdom/lib/jsdom/living/traversal/
web/node_modules/jsdom/lib/jsdom/web-idl/
web/node_modules/jsdom/node_modules/
web/node_modules/jsesc/LICENSE-MIT.txt
web/node_modules/jsesc/jsesc.js
web/node_modules/jsesc/man/
web/node_modules/jsesc/package.json
web/node_modules/json3/
web/node_modules/json5/CHANGELOG.md
web/node_modules/json5/LICENSE.md
web/node_modules/json5/README.md
web/node_modules/json5/lib/json5.js
web/node_modules/json5/lib/require.js
web/node_modules/json5/package.json
web/node_modules/jsonify/
web/node_modules/jsprim/
web/node_modules/keycode/
web/node_modules/kind-of/
web/node_modules/leven/
web/node_modules/lodash/
web/node_modules/longest/
web/node_modules/map-obj/
web/node_modules/md5.js/
web/node_modules/merge/
web/node_modules/methods/
web/node_modules/micromatch/lib/.DS_Store
web/node_modules/mime-db/
web/node_modules/mkdirp/.travis.yml
web/node_modules/mkdirp/LICENSE
web/node_modules/mkdirp/bin/usage.txt
web/node_modules/mkdirp/examples/
web/node_modules/mkdirp/index.js
web/node_modules/mkdirp/package.json
web/node_modules/mkdirp/readme.markdown
web/node_modules/mkdirp/test/
web/node_modules/moment/
web/node_modules/nanomatch/lib/.DS_Store
web/node_modules/no-case/
web/node_modules/onetime/
web/node_modules/p-limit/
web/node_modules/p-map/
web/node_modules/p-try/
web/node_modules/parse5/
web/node_modules/pbkdf2/
web/node_modules/pinkie/
web/node_modules/pkg-dir/
web/node_modules/postcss/
web/node_modules/private/
web/node_modules/process/
web/node_modules/promise/
web/node_modules/querystring/.History.md.un~
web/node_modules/querystring/.Readme.md.un~
web/node_modules/querystring/.package.json.un~
web/node_modules/querystring/test/.index.js.un~
web/node_modules/react/
web/node_modules/redent/
web/node_modules/request/
web/node_modules/resolve/
web/node_modules/rimraf/LICENSE
web/node_modules/rimraf/README.md
web/node_modules/rimraf/package.json
web/node_modules/rimraf/rimraf.js
web/node_modules/rx-lite/
web/node_modules/semver/LICENSE
web/node_modules/semver/README.md
web/node_modules/semver/package.json
web/node_modules/semver/range.bnf
web/node_modules/semver/semver.js
web/node_modules/sha.js/.travis.yml
web/node_modules/sha.js/LICENSE
web/node_modules/sha.js/README.md
web/node_modules/sha.js/hash.js
web/node
_modules/sha.js/index.js
web/node_modules/sha.js/package.json
web/node_modules/sha.js/sha.js
web/node_modules/sha.js/sha1.js
web/node_modules/sha.js/sha224.js
web/node_modules/sha.js/sha256.js
web/node_modules/sha.js/sha384.js
web/node_modules/sha.js/sha512.js
web/node_modules/sha.js/test/
web/node_modules/slash/
web/node_modules/sockjs/
web/node_modules/sshpk/.npmignore
web/node_modules/sshpk/.travis.yml
web/node_modules/sshpk/LICENSE
web/node_modules/sshpk/README.md
web/node_modules/sshpk/lib/
web/node_modules/sshpk/man/
web/node_modules/sshpk/package.json
web/node_modules/styled-components/sandbox/
web/node_modules/stylis/
web/node_modules/table/
web/node_modules/tapable/
web/node_modules/throat/
web/node_modules/through/
web/node_modules/thunky/
web/node_modules/type-is/
web/node_modules/uniqs/
web/node_modules/unpipe/
web/node_modules/upath/
web/node_modules/uri-js/
web/node_modules/urijs/
web/node_modules/utila/
web/node_modules/vendors/
web/node_modules/verror/
web/node_modules/walker/
web/node_modules/warning/
web/node_modules/watch/
web/node_modules/webpack/LICENSE
web/node_modules/webpack/README.md
web/node_modules/webpack/bin/config-optimist.js
web/node_modules/webpack/bin/config-yargs.js
web/node_modules/webpack/bin/convert-argv.js
web/node_modules/webpack/buildin/
web/node_modules/webpack/hot/
web/node_modules/webpack/lib/
web/node_modules/webpack/node_modules/
web/node_modules/webpack/package.json
web/node_modules/webpack/schemas/
web/node_modules/webpack/web_modules/
web/node_modules/which/CHANGELOG.md
web/node_modules/which/LICENSE
web/node_modules/which/README.md
web/node_modules/which/package.json
web/node_modules/which/which.js
web/node_modules/wrappy/
web/node_modules/write/
web/node_modules/xtend/
web/node_modules/yallist/
web/node_modules/yargs/
