@(review: Form[CreateReviewForm],products: Seq[Product])(implicit request: MessagesRequestHeader)

@import helper._

@request.flash.get("success").map { key =>
    @request.messages(key)
}

@main("Welcome to Ebiznes") {
    @form(routes.ReviewController.addReview()) {
        @inputText(review("userID"))
        <select name="productID" id="productID">
        @for(product <- products){
            <option value="@product.id">@product.name</option>
        }
        </select>
        <select name="grade" id="grade">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        @inputText(review("review"))


        @CSRF.formField

        <div class="buttons">
            <input type="submit" value="Add Review"/>
        </div>
    }
}
